body {
    padding-top: 20px;
    padding-bottom: 40px;
}

h1 i {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
}

.container > hr {
    margin: 30px 0;
}

.container > h2, .container > h3, .container > h4 {
    text-align: center;
    margin-bottom: 20px;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
}
.jumbotron .buttons {
    margin-top: 25px;
}

.features [class^="icon-"], .features [class*=" icon-"] {
    vertical-align: inherit;
}

.social-widgets {
    text-align: center;
    margin-top: 30px;
}

#vk_like {
    display: inline-block;
}
.fb_iframe_widget {
    top: -4px;
}

.thumbnail {
    margin-bottom: 15px;
}