<ul class="nav">
  <li><a href="{{ path('index') }}">Overview</a></li>
  <li class="divider"></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sites<b class="caret"></b></a>
        <ul class="dropdown-menu">
        {% if app.menu.servers is defined %}
          {% for domain, servers in app.menu.servers %}
              <li class="dropdown-submenu">
                  <a href="#">{{ domain }}</a>
                  <ul class="dropdown-menu">
                  {% for server_name, server in servers %}
                      <li><a href="{{ path('server', { serverName: server_name }) }}">{{ server_name }}</a></li>
                  {% endfor %}
                  </ul>
              </li>    
          {% endfor %}
        {% endif %}
        </ul>        
      </li>
</ul>