<html>
    <body>
        <h1>Pinboard found .lock file</h1>
        <p>Intaro Pinboard can't run data aggregating. The another instance of this script is already executing or broke.</p>

        {% include '_mail_footer.html.twig' %}
    </body>
</html>