* {
	margin: 0;
}
html, body {
	height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -131px; /* the bottom margin is the negative value of the footer's height */
}
#push {
	height: 131px; /* .push must be the same height as .footer */
}
footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.navbar .brand {
    padding: 5px 20px 5px 5px;
}

table.table th.hostname {
    min-width: 110px;
}
table.table th.req-time {
    min-width: 160px;
}
table.table th.mem-peak-usage {
    min-width: 200px;
}
table.table th.date {
    min-width: 170px;
}
table.table td.host {
    min-width: 85px;
}
table.table td.script-name {
    word-wrap: break-word;
    -webkit-hyphens: auto;
}

.nav-pills.small>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 11px;
    line-height: 12px;
}
.nav-pills.period {
    margin-bottom: 10px;
    margin-top: -10px;
    margin-left: 10px;
}
h1 .dropdown-menu {
    font-size: 16px;
}

.live-controls a.disabled {
    opacity: 0.2;
}
