db:
    host: localhost
#    port: 3306
    name: pinba
    user: user
    pass: password

base_url: /
#base_url: /pinboard/
#base_url: http://your-host.com/pinboard
logging:
    # in seconds
    long_request_time:
        global: 1.0
#        "some.site.ru": 1
    # max memory usage in kB
    heavy_request:
        global: 30000
#        "some.site.ru": 30000
    heavy_cpu_request:
        global: 1
#        "some.site.ru": 1

locale:  en

# can be 'array', 'apc', 'xcache', 'zend_data'
cache: apc

# format ISO8601 (see http://en.wikipedia.org/wiki/Iso8601#Durations)
records_lifetime: P1M
aggregation_period: PT15M

pagination:
    row_per_page: 50

secure:
    enable: false
#    users:
#        testuser1:
#            password: my_password1
#        testuser2:
#            password: my_password2
#            hosts: 'example\.com$'

#notification:
#    enable: true
#    ignore:
#        - (foo|otp)\.example\.com$
#        - second-example\.ru$
#    sender: noreply@example.com
#    global_email: my_email@example.com
#    border:
#        req_time:
#            global: 1.5
#            somesite.com: 2
#    list:
#        -
#            hosts: example\.com$
#            email:
#                - admin@example.com
#                - elseemail@example.com
#        -
#            hosts: forum\.example\.com$
#            email: moderator@example.com

#smtp:
#    server: smtp.example.com
#    port: 25
#    username: username@example.com
#    password: my_password
#    encryption: null
#    auth_mode: login
