db:
    host: localhost
    name: pinba
    user: user
    pass: password
    
logging:
    # in seconds
    long_request_time:
        global: 0.5
#        "some.site.ru": 1
    # max memory usage in kB
    heavy_request:
        global: 10000
#        "some.site.ru": 30000
        
locale:  en

# format ISO8601 (see http://en.wikipedia.org/wiki/Iso8601#Durations)
records_lifetime: P1M

pagination:
    row_per_page: 50

secure:
    enable: false
#    users:
#        testuser1:
#            password: my_password1
#        testuser2:
#            password: my_password2
#            hosts: '.*example\.com'

#notification:
#    enable: true
#    sender: noreply@example.com
#    global_email: my_email@example.com
#    list:
#        - {hosts: '.*example\.com', email: [admin@example.com, my_email@example.com]}
#        - {hosts: '.*forum\.example\.com', email: moderator@example.com}
#smtp:
#    server: smtp.example.com
#    port: 25
#    username: username@example.com
#    password: my_password
#    encryption: null
#    auth_mode: login