<html>
    <body>
        <h1>Pinboard could not acquire the aggregation lock</h1>
        <p>Intaro Pinboard can't run data aggregation because another instance of the aggregation command is already executing.</p>

        {% include '_mail_footer.html.twig' %}
    </body>
</html>
